{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Dedicated and detail-oriented Backend Developer with experience in Flask, FastAPI, PostgreSQL, SQLAlchemy, SQLModel, and other modern web technologies seeking a position to utilize and expand my skill set to contribute to the growth of a dynamic organization.</p>
        <p>I have developed a unique problem solving-skill that enables me to excel in many fields of engineering. Being one of the best student in my engineering year, i have learnt to solve complex challenges in diverse areas.</p>
        <p>As an experienced problem solver, i thrive on taking on new challenges and developing creative solutions that drive positive outcomes. I am confident that i would be a valuable addition to your team, if given the chance. I would welcome a chance to speak with you soon!</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}